.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b4332;
  color: #fff;
  padding: 25px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-icon {
  font-size: 1.8rem;
  margin-right: 8px;
  color: #95d5b2;
}



.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 200px;
}

.search-bar button {
  background-color: #52b788;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #b7e4c7;
}

.logout-btn {
  background: #e63946;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.welcome {
  font-size: 0.9rem;
  opacity: 0.8;
}
